* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    background-color: #101720;
}

h1 {
    font-size: 5rem;
}

kbd {
    color: white;
}

.drum-item p {
    color: white;
}

#container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.drum-item {
    display: flex;
    flex-direction: column;
    border: 2px solid #374e6d;
    cursor: pointer;
    padding: 10px 15px;
} 

.hotkey {
    border: 1px solid white;
    padding: 5px 10px;
}

#img-container {
    position: relative;
}

#drumkit-img {
    border: 3px solid #1c2838;
    border-radius: 50% 50% 2% 2%;
}

.triggers {
    position: absolute;
    /* border: 2px solid red; */
    cursor: pointer;
    border-radius: 50%;
    transition: box-shadow 0.2s ease-in;
}

.triggers:hover {
    box-shadow: 0 0 25px 5px white;
    transition: box-shadow 0.2s ease-out;
}

#clap-trigger {
    width: 160px;
    height: 25px;
    top: 295px;
    left: 82px;
    transform: rotate(20deg);

}

#hihat-trigger {
    width: 160px;
    height: 25px;
    top: 362px;
    left: 165px;
    transform: rotate(15deg);

}

#kick-trigger {
    width: 250px;
    height: 250px;
    top: 500px;
    left: 380px;

}

#openhat-trigger {
    width: 215px;
    height: 60px;
    top: 245px;
    left: 210px;
    transform: rotate(10deg);
}

#ride-trigger {
    width: 215px;
    height: 70px;
    top: 228px;
    left: 585px;
    transform: rotate(-12deg);
}

#snare-trigger {
    width: 195px;
    height: 85px;
    top: 445px;
    left: 592px;
    border-radius: 20%;
}

#tink-trigger {
    width: 145px;
    height: 25px;
    top: 325px;
    left: 725px;
}

#tom-trigger_1 {
    width: 145px;
    height: 142px;
    top: 342px;
    left: 350px;
    transform: rotate(5deg);
    border-radius: 35%;
}

#tom-trigger_2 {
    width: 135px;
    height: 142px;
    top: 342px;
    left: 518px;
    transform: rotate(-5deg);
    border-radius: 35%;
}

.drum-glow-up {
    /* box-shadow: 0 0 25px 5px white;
    transition: box-shadow 0.1s ease-out; */
    animation: glow-up 0.2s ease-out;
}

@keyframes glow-up {
    0% {box-shadow: 0 0 25px 0 white}
    100% {box-shadow: 0 0 25px 5px white};
}